{% load static %}
<header class="header">
  <!-- Main Navbar-->
  <nav class="navbar navbar-expand-lg">
    <div class="search-area">
      <div class="search-area-inner d-flex align-items-center justify-content-center">
        <div class="close-btn"><i class="icon-close"></i></div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-8">
            <form action="{% url 'post_list' %}">
              <div class="form-group">
                <input type="search" name="search_text" id="search" placeholder="What are you looking for?">
                <button type="submit" class="submit">
                  <i class="icon-search-1"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Navbar Brand -->
      <div class="navbar-header d-flex align-items-center justify-content-between">
        <!-- Navbar Brand --><a href="/" class="navbar-brand"><img src="{%static 'img/signs.png' %}" alt="Kiwi standing on oval"></a>
        <!-- Toggle Button-->
        <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse"
          aria-expanded="false" aria-label="Toggle navigation"
          class="navbar-toggler"><span></span><span></span><span></span></button>
      </div>
      <!-- Navbar Menu -->
      <div id="navbarcollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item" ><a href="/" {% if tabName == 'Home' %} id="active-tab" {% endif %} class="nav-link ">Home</a>
          </li>
          <li class="nav-item"><a href="{% url 'post_list' %}" {% if tabName == 'Blog' %} id="active-tab" {% endif %} class="nav-link">Blog</a>
          </li>
          {% if not user.is_authenticated %}
          <li class="nav-item"><a href="{% url 'signin-url' %}" class="nav-link ">Login</a>


          </li>
          {% else %}
          <li class="nav-item"><a href="{% url 'post_template_picker' %}" {% if tabName == 'Create' %} id="active-tab" {% endif %} class="nav-link ">Create</a>
          <li class="nav-item"><a href="{% url 'signout-url' %}" {% if tabName == 'Logout' %} id="active-tab" {% endif %} class="nav-link ">Logout</a>
          <!-- <li class="nav-item"><a href="{% url 'post_list' %}" class="nav-link"><i class="fa fa-user"
                aria-hidden="true"></i></a>
          </li> -->
          {% endif %}
          <li class="nav-item"><a href="#" class="nav-link ">Contact</a>
          </li>

        </ul>
        <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
        {% comment %} <ul class="langs navbar-text"><a href="#" class="active">EN</a><span> </span><a href="#">ES</a>
        </ul> {% endcomment %}
      </div>
    </div>
  </nav>
</header>