{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Hero Section-->
    <section style="background: url({% static 'img/hero.jpg' %}); background-size: cover; background-position: center center" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1 style="color:rgb(255, 255, 255)">CodeThenAll - Teach Yourself Programming</h1><a href="#" class="hero-link">Discover More</a>
          </div>
        </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
      </div>
    </section>
    <!-- Intro Section-->
    <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="h3">Why this Website?</h2>
            <p class="text-big">Programming is evolving day by day. This website will help you understand programming conepts in fun and easy way. You don't just read the artcile but you evaluate yourself by answering questions after each article.</p>
            <p class="text-big">To get started check out some of our articles.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="featured-posts no-padding-top">
     
      <div class="container">
      {%for post in featured_posts %}
        <!-- Post-->
        <div class="row d-flex align-items-stretch">
          {% if forloop.counter0 == 1%}
          <div class="image col-lg-5"><img src="{{post.feature_image.url}}" alt="..."></div>
          {% endif%}
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category">
                    {% for cat in post.categories.all %}
                    <a href="#">{{cat}}</a>                    
                    {%endfor%}

                  </div>
                  <a href="{{post.get_absolute_url}}">
                    <h2 class="h4">{{post.title}}</h2></a>
                </header>
                <p>{{post.overview}}</p>
                <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{% static 'img/avatar-1.jpg' %}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>John Doe</span></div></a>
                  <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                  <div class="comments"><i class="icon-comment"></i>12</div>
                </footer>
              </div>
            </div>
          </div>
          {% if forloop.counter0 == 0 or forloop.counter0 == 2 %}
          <div class="image col-lg-5"><img src="{{post.feature_image.url}}" alt="..."></div>
          {% endif %}
        </div>
        
      {% endfor %}
      </div>
    </section>
    <!-- Divider Section-->
    <section style="background: url({% static 'img/divider-bg.jpg' %}); background-size: cover; background-position: center bottom" class="divider">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2>Suggest any programming concept. We will try our best to work and publish an article on it. You can suggest articles at the below link.</h2><a href="{% url 'post_suggest'%}" class="hero-link">Suggest</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Latest Posts -->
    <section class="latest-posts"> 
      <div class="container">
        <header> 
          <h2>Latest Stuffs </h2>
          <p class="text-big"></p>
        </header>
        <div class="row">
          {% for post in latest_posts %}
          <div class="post col-md-4">
            <div class="post-thumbnail"><a href="{{post.get_absolute_url}}"><img src="{{post.thumbnail.url}}" alt="..." class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date"> {{ post.created_timestamp | timesince }}</div>
                <div class="category">
                  {% for cat in post.categories.all %}
                  <a href="#">{{cat}}</a>

                  {% endfor %}
                </div>
              </div><a href="{{post.get_absolute_url}}">
                <h3 class="h4">{{post.title}}</h3></a>
              <p class="text-muted">{{post.overview}}</p>
            </div>
          </div>
          {% endfor %}


        </div>
      </div>
    </section>
    <!-- Newsletter Section-->
    <section class="newsletter no-padding-top">    
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Subscribe to Newsletter</h2>
            <p class="text-big">If you want to keep on learning about programming please subscribe to our newsletter so that we 
              can provide you with more such beautiful content.
            </p>
          </div>
          <div class="col-md-8">
            <div class="form-holder">
              <form action="." method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <!-- <input type="email" name="email" id="email" placeholder="Type your email address"> -->
                  {{form}}
                  <button type="submit" class="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Gallery Section-->
    <section class="gallery no-padding">    
      <div class="row">
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="img/gallery-1.jpg" data-fancybox="gallery" class="image"><img src="{% static 'img/gallery-1.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="img/gallery-2.jpg" data-fancybox="gallery" class="image"><img src="{% static 'img/gallery-2.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="img/gallery-3.jpg" data-fancybox="gallery" class="image"><img src="{% static 'img/gallery-3.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="img/gallery-4.jpg" data-fancybox="gallery" class="image"><img src="{% static 'img/gallery-4.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
      </div>
    </section>

{% endblock content %}